[Unit]
Description=EHome server manager
After=network.target
Requires=network.target

[Service]
ExecStart=/usr/sbin/ehomed.py
Restart=on-failure
#User=radicale
# Deny other users access to the calendar data
UMask=0027
# Optional security settings
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
PrivateDevices=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
NoNewPrivileges=true
#ReadWritePaths=/var/lib/radicale/collections

[Install]
WantedBy=multi-user.target
